{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {
          "useBuiltIns": "usage"
        }
      }
    ],
    "@zeit/next-typescript/babel"
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ]
  ]
}
